<h3>Productos:</h3>
<div class="flex-container">
    <div>
    </div>
    {{#if lista}}
        {{#each lista}}
            <div class="card" style="width: 18rem;">
                <img src={{this.thumbnail}} class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">id:{{this.id}}</p>
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">${{this.price}} x kg</p>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h3>No hay productos</h3>
    {{/if}}
</div><br/>
<div class="no-flex-container">
    <a href="/pages/chat.html"><button type="button" class="btn btn-primary">Home</button></button></a>
</div>
