<div>
    <a href="/"><button type="button" class="btn btn-secondary">HOME</button></button></a>
    <div>
        PID: {{ pid }}
    </div>
    <div>
        {{lista}}
    </div>
    {{!-- {{#if lista}}
        {{#each lista}}
            <p> {{this.value}} </p> 
        {{/each}}
    {{else}}
        <p> {{this.message}} </p>
    {{/if}} --}}
</div>